<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- Kafka Spout configuration -->
    <bean id="kafkaSpoutConfig" class="org.apache.storm.kafka.spout.KafkaSpoutConfig$Builder">
        <property name="bootstrapServers" value="192.168.2.200:9092"/>
        <property name="topic" value="topic1"/> <!-- Will be updated via command line -->
        <property name="groupId" value="storm-group"/>
        <property name="spoutName" value="KafkaSpout"/>
        <property name="messageTimeoutMs" value="30000"/>
    </bean>

    <!-- Kafka Spout -->
    <bean id="kafkaSpout" class="org.apache.storm.kafka.spout.KafkaSpout">
        <constructor-arg ref="kafkaSpoutConfig"/>
    </bean>

    <!-- Spout Configuration for Topology -->
    <bean id="topology" class="com.test.StormTopology">
        <property name="kafkaSpout" ref="kafkaSpout"/>
    </bean>

</beans>
